*~
\#*\#
.\#*
*.swp
*.swo
[#]*[#]
.#*
*.sublime-project
*.sublime-workspace
*.cproject
*.project
.settings/
build/
cppbuild/
pybuild/
lib/
bin/
cmake-build*
*.so
*.idea
*.png
*.pdf
*.pkl
.vscode
doc/*
__pycache__
.*
*code-workspace

*.pyd
dist/
mrob.egg-info/
wheelhouse/
.eggs
