name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-11] # windows-2019

    steps:
      - uses: actions/checkout@v3
        with: 
          submodules: recursive

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.14.1
           
        with:
          package-dir: mrobpy
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  # publish_pypi:
  #   name: Publish wheels to PyPI
  #   needs: test_wheel
  #   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v2

  #     - name: Publish to PyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
  #       with:
  #         user: __token__
  #         password: ${{ secrets.PYPI_API_TOKEN }}
  #         packages_dir: wheels/
  #         verbose: true


  # publish-github-release:
  #   name: Publish wheels to GitHub Releases
  #   needs: test_wheel
  #   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v2

  #     - uses: softprops/action-gh-release@v1
  #       with:
  #         files: wheels/*.whl
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
